<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="games.engines" android:versionCode="1" android:versionName="0.0">
<uses-sdk android:minSdkVersion="9" android:targetSdkVersion="17"/>
	<!--没有JAVA的代码,则设置hasCode为false-->
	<application android:label="ApplicationLabel" android:hasCode="false">
		<!--此Activity使用内置的NativeActivity框架类.这样可以方便与NDK代码交互-->
		<activity android:name="android.app.NativeActivity" android:label="ActivityLabel" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<!--告诉NativeActivity我们的主.so文件的名字(android_main()所在的库名)-->
			<meta-data android:name="android.app.lib_name" android:value="GamesAndroid"/>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>